:root{
  --pcw : rgb(240, 240, 240);
  background: rgb(22, 22, 22);
  color: var(--pcw);
  font-family: "roboto",sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
  scroll-behavior: smooth;
  overflow: hidden;
}